{% extends "layout.html" %}
{% block content %}
<div class="container">
    <!-- Page Heading -->
    <h1 class="my-4">My Reservations</h1>

    {% for reservation in reservations %}
    <!-- Each Reservation -->

    <div class="row">
            <div class="col-md-5">
              <a href="#">
                <img style="max-height:700px" class="img-fluid rounded mb-3 mb-md-0" src="{{ url_for('static', filename=
      'park_pics/' + reservation[1].image_file) }}">
              </a>
            </div>
            <div class="col-md-7">
              <h3>{{ reservation[1].name }}</h3>
              <p><b>Date Created:</b> {{ reservation[0].date_created.strftime('%Y-%m-%d') }}</p>
              <p><b>Reservation Date:</b> {{ reservation[0].date.strftime('%Y-%m-%d') }}</p>
              <p><b>Start Time:</b> {{ reservation[0].start_time }}</p>
              <p><b>End Time:</b> {{ reservation[0].end_time }}</p>
              <form action="{{ url_for('delete_reservation', reservation_id=reservation[0].id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Cancel Reservation">
              </form>
            </div>
          </div>
        <hr>
    {% endfor %}
{% endblock content %}



